div(styles="width:100%; font-family:'Trebuchet MS','Arial',sans-serif;")
	h2 Gracias por suscribirte a Viajes Transparentes
	p(styles="max-width:300px;") A partir de este momento recibirás notificaciones cuando tengamos nueva información sobre viajes de funcionarios públicos