main-color = #1abc9c
number-color = #EA611C
main-transparent-color = rgba(26,188,156, 0.6)
main-shadow-color = rgba(50,255,255,0.9)
bord-standard = 1px solid #aaaaaa
brad-std = 0px
brad-btn-std = 0px
standard-background()
	background-position center center
	background-repeat no-repeat
	background-size contain

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
	display none !important

*::-webkit-scrollbar
	width 1px
	background-color white
*::-webkit-scrollbar-track-piecek
	background-color #ededed
	border 0px
*::-webkit-scrollbar-thumb 
	background-color #777


*::-webkit-input-placeholder
	font-weight 300
*:-moz-placeholder
	font-weight 300
*::-moz-placeholder
	font-weight 300
*:-ms-input-placeholder
	font-weight 300


#apploader
	position absolute
	width 100%
	height 100%
	background-color main-color
	z-index 9999

body,html
	height 100%
body
	padding-top 1px
	margin-top -1px
h1,h3
	text-align center	
h3
	font-weight 300
h4
	font-weight 200

h1
	font-weight 100

body
	standard-background()
	background-size cover
	background-image url(../img/bg3.jpg)

.app-alert
	background-color #00a661
	z-index 5
	position fixed
	color #fff
	padding 15px
	border-radius 0px 0px 3px 3px
	width 400px
	left 50%
	margin-left -200px
	text-align center
	-webkit-transition margin-top .25s ease-out
	-moz-transition margin-top .25s ease-out
	-ms-transition margin-top .25s ease-out
	-o-transition margin-top .25s ease-out
	transition margin-top .25s ease-out
	margin-top -140px
.app-alert.in
	margin-top 0px

p.ar-subtile
	color #999
	font-size 0.8em

.ar-90r
	max-width 90%
	max-height 90%

.ar-panel
	background-color rgba(255,255,255,0.9)
	height 100%
	width 100%
	position absolute
	overflow-y scroll
	overflow-x hidden
	padding-top 1px
	margin-top -1px
	-webkit-transition margin .25s ease
	-moz-transition margin .25s ease
	-ms-transition margin .25s ease
	-o-transition margin .25s ease
	transition margin .25s ease

ul.ar-table
	list-style none
ul.ar-table li
	margin-bottom 40px
ul.ar-table li:last-child
	margin-bottom 0px
	
.ar-txtr
	text-align right

.ar-ofa
	overflow auto

#navigation_panel
	width 100%
	position fixed
	border-bottom 1px solid #ccc
	background-color rgba(255,255,255,0.7)
	box-shadow 0px 0px 3px rgba(50,50,50,0.2)
	-webkit-box-shadow 0px 0px 3px rgba(50,50,50,0.2)		
	z-index 5
	border-radius 0px	
		
#panel
	position relative
	height 100%
	z-index 1
	overflow-x hidden
	background-color rgba(235,240,250,0.86)
	-moz-box-shadow inset 0 0 10px #999
	-webkit-box-shadow inset 0 0 10px #999
	box-shadow inset 0 0 10px #999

.ar-bignumba
	text-align center
	font-size 2.3em
	color #ee763b

p.ar-bntitle
	text-align center

.ar-shrink70
	width 70%
	margin 0 auto
	.ar-row
		text-align left
	.ar-col
		display inline-block
		min-width 40%
	.ar-col.ar-tr
		float right
		text-align right
		

.ar-logo
	background-image url(../img/logo.svg)
	standard-background()

a.navbar-brand
	standard-background()
	background-image url(../img/app_logo.svg)
	margin-left 10px

.navbar-nav>li>a
	font-weight 300

.navbar-nav li.active a
	text-shadow 0px 1px 3px main-shadow-color


.ar-logo
	margin 0 auto
	margin-top 20px
	height 250px
	width 100%

.ar-comparelist-button
	standard-background()
	background-image url(../img/compare-list.svg)
	width 50px
	height 50px
	padding-top 1px
	margin-top 1px
	cursor pointer
	span
		width 20px
		height 20px
		border-radius 50%
		background-color #f00
		font-size 10px
		color #fff
		text-align center
		display block
		vertical-align middle
		line-height 20px
		margin-top 7px
		opacity 0.0
		-webkit-transition opacity .25s ease
		-moz-transition opacity .25s ease
		-ms-transition opacity .25s ease
		-o-transition opacity .25s ease
		transition opacity .25s ease
	span.in
		opacity 1.0

.ar-thephrase-container
	padding-right 0px
	overflow visible

p.ar-thephrase
	font-size 1.55em
	text-align left
	display block
	background-color main-color
	color #fff
	padding 40px
	font-weight 300
	line-height 1
	text-transform uppercase
	margin 40px 0px 0px 0px
	b
		font-weight 500

#welcome_panel
	padding-top 1px
	margin-top -1px
	background-color transparent

.ar-badges
	margin 30px auto
	overflow auto
	max-width 1400px
	text-align center
.ar-badges h4
	font-size 4em
	color number-color

.ar-traveller-stats h5
	color number-color
	font-size 2.7em
	font-weight 300	
	

p.ar-center,
.ar-center
	text-align center

.ar-badge .svg
	background-color transparent
	background-position center center
	background-size 140px
	background-repeat no-repeat
	width 100%
	min-height 170px
	cursor pointer

.ar-badge p
	text-align center
#g-mapa.ar-badge .svg
	background-image url(../img/badge-mapac.svg)
#g-mapa.ar-badge .svg:hover
	background-image url(../img/badge-mapa.svg)
	
#g-comparar.ar-badge .svg
	background-image url(../img/badge-comparac.svg)
#g-comparar.ar-badge .svg:hover
	background-image url(../img/badge-compara.svg)

#g-anual.ar-badge .svg
	background-image url(../img/badge-viajesc.svg)
#g-anual.ar-badge .svg:hover
	background-image url(../img/badge-viajes.svg)


.ar-search-crit-container
	.btn-group
		button.btn-primary
			background-color #aaa
			border 0px	
			color #fff
		button.btn-primary:hover
			background-color #777			
		button.btn-primary.active:hover
			background-color main-color
		button.btn-primary.active
			background-color main-color
			color #fff
			border 0px

.ar-home-container
	width 100%
	padding-bottom 1px
	position relative
	overflow auto

.ar-wrapper
	// max-width 880px
	max-width 950px
	margin 0 auto
	padding 17px
.ar-wrapper.w8
	max-width 650px

section.ar-vwrap
	margin 15px 0
	overflow auto
	margin-top 40px
	padding-top 30px	
	border-top 1px solid #ccc

section.ar-person
	.ar-person
		.ar-person-photo
			height 90px
			width 90px
			display block
			margin 50px auto 0 auto
		.ar-name
			display block
			text-align center
			font-size 1em
			width 100%
		span
			font-size 0.7em
			max-width 300px
			margin 0 auto
			text-align center
			display block
			text-transform capitalize

.ar-textcenter
	text-align center


.ar-welcome-options
	text-align center
	margin-bottom 40px
.ar-welcome-options button
	display inline-block
	max-width 200px


input.form-control
	border 1px solid #bdc3c7

ul.ar-travels
	list-style none
ul.ar-travels li
	display block
	min-height 100px
	text-align justify
	cursor pointer
	margin 30px 0
	border-radius brad-std
	border 1px solid transparent
	padding 30px
ul.ar-travels li:hover
	border bord-standard

ul.ar-travels li div
	display inline-block

.ar-travel-icon-lf
	opacity 0.5
	standard-background()
	background-size 30px

.ar-transport-air
	background-image url(../img/plane.svg)
.ar-transport-land
	background-image url(../img/bus.svg)
.ar-transport-sea
	background-image url(../img/boat.svg)
.ar-transport-unk
	background-image url(../img/travel.svg)
	
.ar-travel-loc
	background-image url(../img/location.svg)
.ar-travel-date
	background-image url(../img/calendar.svg)
	

.ar-travel-cost
	font-size 1.45em
.ar-currency
	font-size 12px
	color #999
	margin-left 7px
.ar-travel-cost
	min-width 150px
	text-align right
.ar-time
	margin-left 10px
	width 73px
.ar-star-err
	font-size 27px
	width 15px
.ar-name
	font-style italic
	font-size 1em
	color #777
	text-transform capitalize
	width 100%
	text-align center
.ar-from-to
	display block !important
	width 100%
	text-align center
	font-size 0.9em
	overflow auto

.ar-from-to span
	border-bottom 1px solid #999
	width 30px
	height 12px
	vertical-align top
	display inline-block


.ar-text-right
	text-align right

.ar-max500
	max-width 500px
	margin 0 auto

.btn-primary
	background-color transparent
	border 1px solid main-color
	color main-color	
.btn-primary.active
	background-color main-color
	color #FFFFFF

#chart_panel.out
	margin-left -100%
#chart_panel.in
	margin-left 0px
#traveller_panel.out,
#map_panel.out,
#search_panel.out
	margin-left -100%
#traveller_panel.in,
#map_panel.in,
#search_panel.in
	margin-left 0px


.ar-small-graph-container
	max-width 180px
.ar-small-graph-container.col-sm-6
	padding 0px
.ar-expl-cont
	max-width 400px
	overflow auto
	font-size 0.86em
	padding-right 0px

.ar-mx423
	max-width 420px
	padding 0px
.ar-mx423 canvas
	max-width 418px
	max-height 190px

.ar-row60-auto
	height 60px	
.ar-gsq
	display inline-block
	height 10px
	width 10px
	background-color cyan
	margin-bottom 5px
	margin-left -10px
	margin-right 7px
	vertical-align middle
.ar-gsr
	text-align right
	font-size 0.85em
	line-height 21px
	padding-right 0px
	padding-left 0px
.ar-costs-desg span
	display inline-block
	font-size 0.7em
	margin-left 5px
	overflow auto
.col-sm-6.ar-pd3,
.ar-pd3
	padding-left 3px
	padding-right 3px

.ar-sensitivetraveldata
	overflow auto


.ar-tac
	text-align center
	width 100%
	.btn-group
		.btn-primary:first-child
			border-right 1px solid main-color
		.btn-primary:last-child
			border-left 0px

#travel_panel.out
	margin-left -100%
#travel_panel.out
	.ar-travel-panel-fancy-buttons
		left 100%

#travel_panel.in
	margin-left 0px

#panel #travel_panel.ar-panel
	padding-top 0px

.ar-theexpander
	width 20px
	height 20px
	position absolute 
	right 20px
	cursor pointer
	standard-background()


.ar-thetravelevent .ar-theexpander
	background-image url(../img/down.svg)
.ar-thetravelevent.expanded .ar-theexpander
	background-image url(../img/up.svg)
.ar-thetravelevent.expanded p
	white-space normal

.ar-thetravelevent p
	font-size 1em
	font-weight 300
	white-space nowrap
	text-overflow ellipsis
	overflow hidden
	max-width 95%
	position relative
	margin-bottom 0px
/*
#travel_panel,
#traveller_panel,
#search_panel,
.compare_panel
	*/
.ar-panel	
	.ar-person-photo
		display block
		background-color #ddd
		border-radius 0px
	.ar-sensitivetraveldata span
		font-size 0.7em
		display block

	section.ar-vwrap
		margin-top 40px
		padding-top 30px	
		border-top 1px solid #ccc
	.ar-main-relcont
		height 60px
	.ar-tp-bger-shrinker
		min-height 100%
		width 100%
		background-color: #fff;
	.ar-travel-icon-lf
		width 40px
		height 20px
		margin-left 0px
		background-size 20px
		vertical-align top
		display inline-block

	.ar-travel-rgdata
		color #777777
		vertical-align bottom
		display inline-block
		width 80%
	.ar-travel-cost
		font-size 1.1em
		display inline-block
	.ar-currency
		display inline-block
		font-size 1.1em 
		height 100%
		text-align left
		vertical-align 0px
	.ar-from-to
		overflow auto
		text-align left
	.ar-date
		text-align left
	.ar-date span
		color #777
		font-size 0.8em
	.ar-date span.ar-frmto
		border-bottom 1px solid #999
		width 50px
		display inline-block
	.ar-person
		font-size 1.8em
		text-align left
		width 100%
		margin-top 0px
		margin-bottom 0px
		background-color #f9f9f9
	.ar-person.ar-theimportant-title
		.ar-person-name
			color #fff
		background-color #00a5b4
		padding-top 0px		
		padding-left 0px
		.ar-name,
		.ar-name:hover
			color #fff
		button.btn-primary.btn
			color #fff
			border 1px solid #fff
			
	.ar-person span
		width 100%
		display block
		font-size 0.4em
		text-transform capitalize
		text-align center

	p.ar-noind
		margin-left 0px
		margin-bottom 0px
		margin-top 20px

	h7
		width 100%
		display block
		font-weight bold
	.ar-name
		display inline-block
		vertical-align top
	.ar-travel-icd
		font-size 0.9em
	
	.ar-the-hint
		height 42px
		max-width 80%
		line-height 42px
		text-indent 20px
		color #777
		position absolute
		font-size 0.7em

section.ar-fancy-buttons
	margin-bottom -40px
	border-top 1px solid #ddd
	text-align center
section.ar-fancy-buttons.ar-nombt
	margin-bottom -17px
	margin-top 45px
.ar-fancy-button
	-webkit-transition: left .25s ease;
	-moz-transition: left .25s ease;
	-ms-transition: left .25s ease;
	-o-transition: left .25s ease;
	transition: left .25s ease;
	standard-background()
	display inline-block
	width 100px
	height 40px
	// background-color #efefef
	background-size 20px
	cursor pointer
	border-left 1px solid #ddd
	vertical-align top
	line-height 40px
	font-size 0.7em
	color #999
	text-align center

.ar-fancy-button:first-child
	border-left 0px	



.ar-person-photo
	height 80px
	width 80px
	background-color #eee
	display inline-block
	border-radius 50%
	margin-right 3px
	background-image url(../img/user2.svg)
	background-repeat no-repeat
	background-position-x 49%
	background-position-y 13px
	background-size 105%

.ar-travel-maindata
	overflow auto
	min-height 50px

.ar-gdetails
	height 70px
	max-width 600px
	height 40px
	margin 0 auto
	margin-top 60px

.ar-similar-travel-section p
	font-size 0.75em
	color #777

.ar-row
	border-bottom 1px solid #ccc
	overflow auto
	display block
	width 100%
.ar-row:last-child
	border-bottom 0px
.ar-ellipsable
	text-overflow ellipsis
	overflow hidden
	white-space nowrap
.ar-col span
	width 100%
	display block
	font-size 0.75em
	color #993767
.ar-col .ar-coltitle
	font-style italic
	color #999

.ar-cellbigger
	font-size 0.9em

.ar-noedgepadding
	.ar-col:first-child,
	*:first-child
		padding-left 0px
	.ar-col:last-child,
	*:last-child
		padding-right 0px

.ar-hotel
	background-image url(../img/hotel.svg)
	width 250px
	float left
.ar-airline
	background-image url(../img/ticket.svg)
	width 200px
p.ar-stuff
	font-size 0.75em
p.ar-pbigger
	font-size 1.0em


.ar-pdf
	background-image url(../img/pdf.svg)
.ar-pdf.ar-fancy-button
	background-image url(../img/pdf.svg)
.ar-pdf.ar-fancy-button:hover
	background-image url(../img/pdf-white.svg)
	background-color #CF1312
.ar-pdf:hover .ar-borderer
	border 1px solid #E41D24

.ar-twitter
	background-image url(../img/twitter.svg)
.ar-twitter.ar-fancy-button
	background-image url(../img/twitter.svg)
.ar-twitter.ar-fancy-button:hover
	background-image url(../img/twitter-white.svg)
	background-color #55ACEE
.ar-twitter:hover .ar-borderer
	border 1px solid #96CBE4

.ar-facebook
	background-image url(../img/facebook.svg)
.ar-facebook.ar-fancy-button
	background-image url(../img/facebook.svg)
.ar-facebook.ar-fancy-button:hover
	background-image url(../img/facebook-white.svg)
	background-color #3B5998
.ar-facebook:hover .ar-borderer
	border 1px solid #3C5A98

.ar-email
	background-image url(../img/email.svg)
.ar-email.ar-fancy-button
	background-image url(../img/email.svg)
.ar-email.ar-fancy-button:hover
	background-image url(../img/email-white.svg)
	background-color #FFE681
.ar-email:hover .ar-borderer
	border bord-standard

.ar-fancy-button.ar-addtocompare
	background-image url(../img/add_white.svg)
.ar-fancy-button.ar-addtocompare:hover
	background-color main-color



.ar-clear
	clear both
a.ar-actions, a.ar-actions:hover
	color inherit
.ar-actions
	background-position center 10px
	background-repeat no-repeat
	background-size 20%
	display block
	margin-top 80px	
	text-align center
	cursor pointer
	font-size 0.9em

.ar-actions .ar-borderer
	padding-top 60px
	border 1px solid #fff
	border-radius 5px
	max-width 150px
	margin 0 auto
	height 100%

.ar-institution
	max-width 600px
	margin 0 auto

.ar-spacer
	height 35px
	width 100%
	clear both

.ar-search-bar
	max-width 600px
	margin 10px auto 0px 0px

.input-group.ar-searchform-btng
	.input-group-btn button.dropdown-toggle:hover
		color #777
		outline none
	.input-group-btn button.dropdown-toggle
		position relative
		outline none
		background-color #fff !important
		color #777
		border 0px
		border-left 1px solid #999
		border-radius 0px
		padding 0px
		width 150px
		span.caret
			position absolute
			right 10px
			top 18px
		
	.input-group.ar-searchform-btng
		height 45px
		input.ar-search,
		.input-group-btn
			height 100%
		
	
ul.dropdown-menu,
ul.select2-drop
	border-radius 0px
	min-width 150px
	margin-top 0px

ul.dropdown-menu li,
ul.select2-drop li
	padding 5px
	font-size 1.15em
	text-align center
	cursor pointer
ul.dropdown-menu li:hover
	background-color main-color
	color #fff

input.ar-search
	padding 0px
	border 0px
	outline none	
	text-indent 15px
	font-size 1.35em
	width 100%
	height 42px
	// background-image url(../img/search.svg)
	// background-position 95% center
	// background-repeat no-repeat
	// background-size 5%
input.ar-search:focus
	outline none
	// background-image url(../img/search2.svg)
	

.backbtn
	border 1px solid #999
	background-image url(../img/closef.svg)	
	background-position center center
	background-repeat no-repeat
	background-size 40%
	cursor pointer

#debug.wtf
	position absolute
	z-index 9
	background #FF0000
	height 50px
	width 100%

.loader
	width 200px
	height 40px
	margin 0 auto
	opacity 0.0
	-webkit-transition opacity .25s ease-out
	-moz-transition opacity .25s ease-out
	-ms-transition opacity .25s ease-out
	-o-transition opacity .25s ease-out
	transition opacity .25s ease-out

.loader.loading
	opacity 1.0

.loader svg
	fill main-color
	width 100%
	height 100%

ul.ar-autocomplete-list
	background-color rgba(250,250,250,0.92)
	box-shadow 0px 0px 3px #DDD
	display block
	max-width 350px
	margin-left 25px
	list-style none
	padding 0px
	position absolute
	width 100%
	z-index 6
ul.ar-autocomplete-list li
	border-bottom 1px solid #DDDDDD
	padding-top 10px
	padding-bottom 10px
	display block
	text-indent 20px
	text-transform capitalize
	text-overflow ellipsis
	white-space nowrap
	overflow hidden

ul.ar-autocomplete-list li.active
	background-color main-color
	color #ffffff
	cursor pointer

.fui-money
	content "$"
	font-weight bold

.ar-btn-wrapper
	text-align left
	display block
	width 100%
	min-height 50px
.btn-group .btn
	border-right 0px	
.btn-group .btn:last-child
	border-right 1px solid main-color

ul.ar-options-list.list
	max-width 700px
	
ul.ar-options-list
	margin 0 auto
	list-style none
	padding 0px
	li
		.ar-event-name-imp
			height auto
			.ar-thetitle
				padding 0px
				text-indent 0px
				cursor pointer

ul.ar-autocomplete-list.ar-out
	display none

ul.ar-options-list .ar-money
	max-width 300px
	font-size 1.1em
	float left
	max-height 45px

ul.ar-options-list li
	display block
	min-height 90px
	text-align justify
	position: relative;

ul.ar-options-list li .ar-option-upper
	width 100%
	height auto

ul.ar-options-list li .ar-option-middler
	width 100%
	overflow auto

ul.ar-options-list li .ar-transport
	max-width 150px
	font-size 14px
	float right

ul.ar-options-list li .ar-person-photo.ar-pbg
	height 50px
	width 50px	
ul.ar-options-list li .ar-person-photo
	height 25px
	width 25px
	background-position-x 49%
	background-position-y 4px
	background-size 105%
	float left

ul.ar-options-list li .ar-name
	float left
ul.ar-options-list li .ar-date,
ul.ar-options-list li .ar-fright
	float right
ul.ar-options-list li .ar-money span
	font-size 0.5em
	color #999999
	valign bottom

ul.ar-options-list li .ar-transport
	opacity 0.7
	text-indent 30px
	background-size 12%
	background-repeat no-repeat
	background-position left center
ul.ar-options-list li .ar-travelcount
	font-size 0.8em
	color #000
	opacity 0.7
	text-indent 30px
	background-size 18px
	background-repeat no-repeat
	background-position left center
	background-image url(../img/ticket.svg)
	
ul.ar-options-list li .ar-date
	opacity 0.7
	text-indent 30px
	background-size 12%
	background-repeat no-repeat
	background-position left center	
	background-image url(../img/calendar.svg)

ul.ar-options-list .ar-from-to
	position relative
ul.ar-options-list .ar-from-to div
	display block
	min-width 160px
ul.ar-options-list .ar-from-to div.ar-to
	float right
	background-color transparent
	text-align right
ul.ar-options-list .ar-from-to div.ar-from
	float left
	background-color transparent
	text-align left

li.ar-info-item
	margin 20px

.ar-thename 
	max-width 400px
	float left
	text-transform capitalize
	font-size 1.25em
	line-height 49px


//new cool ar-stuff
.ar-info-wrapper
	max-width  600px
	padding 10px 20px 20px 20px
	border 1px solid #bbbbbb
	border-radius brad-std

.ar-info-buttons
	background-color transparent
	cursor pointer
	border 1px solid main-color
	float right
	
	div
		position static
		border-radius brad-std
		background-position center center
		background-size 25px
		background-repeat no-repeat

	div:hover
		background-color main-color
		color #FFFFFF
	div:last-child
		border-radius 0px 0px brad-std 0px

.ar-view
	background-image url(../img/inspect.svg)
.ar-view:hover
	background-image url(../img/inspect_white.svg)

.ar-addtocompare
	background-image url(../img/add.svg)
.ar-addtocompare:hover
	background-image url(../img/add_white.svg)
.ar-info-buttons div.ar-addtocompare
	background-size 20px

#traveller_panel .ar-info-wrapper
	max-width 100%
	margin-right 60px
	border-radius 0px
	border-left 0px 
	border-bottom 0px 
	border-top 0px 
	box-shadow none
#traveller_panel .ar-info-buttons
	height 200px
	margin-top 20px

.ar-questions h6
	font-size 18px
	color #777
	border-bottom 1px solid #ddd
	padding-bottom 10px
	margin-left 10px;

.ar-qencourage
	margin-left 102px
	margin-bottom 0px
	font-size 15px
	color #777

.ar-question
	margin-left 40px
form.ar-question-form
	margin-left 100px
	input.form-control
		background-color rgba(255,255,255,0.5)
		text-align left
		border 1px solid #ddd
		padding 30px
		font-size 1.05em
	
	input.form-control::-webkit-input-placeholder
		color #999
	input.form-control:-moz-placeholder
		color #999
	input.form-control::-moz-placeholder
		color #999
	input.form-control:-ms-input-placeholder
		color #999



.ar-newquestion
	max-height 0px
	opacity 0
	-webkit-transition all .25s ease
	-moz-transition all .25s ease
	-ms-transition all .25s ease
	-o-transition all .25s ease
	transition all .25s ease
.ar-newquestion.on
	max-height 300px
	opacity 1.0

.ar-question-profpic
	border-radius 5px
	width 45px
	height 45px
	margin-top 8px
	standard-background()
	background-color #ddd
	float left

.ar-question-body
	padding-left 60px
	min-height 60px
.ar-question-from
	color main-color
	font-size 14px
	font-weight bold
.ar-question-from span
	color #999
	font-size 13px
	font-weight 200
.ar-question-from span.ar-bullet
	margin-left 5px
	margin-right 5px
p.ar-question-text, p.ar-question-answer
	color #555
	font-family arial, sans-seif
	font-weight normal
	font-size 16px
p.ar-question-answer
	font-style italic
	padding-left 30px
	text-align left


.ar-modal-window
	position absolute
	top 0px
	left 0px
	z-index 10
	width 100%
	height 100%
	display none
.ar-modal-window.in
	display block	

.ar-modal-window
	.ar-modal-bg
		width 100%
		height 100%
		background-color rgba(0,0,0,0.55)
		position fixed
	.ar-modal-body
		padding 20px
		background-color #fff
		border-radius 3px
		max-width 350px
		max-height 600px
		margin 5px auto
		margin-top 60px
		position relative
.ar-modal-closebtn
	width 40px
	height 40px
	position absolute
	right -40px
	top 10px
	border-radius 0px 3px 3px 0px
	background-color #444
	cursor pointer
	standard-background()
	background-size 23px
	background-image url(../img/close.svg)


.ar-loginbtn
	width 100%
	background-color #999
	border-radius 3px
	padding 15px 15px 15px 60px
	margin 15px auto
	color #fff
	font-weight bold
	cursor pointer
	background-position 15px center
	background-repeat no-repeat
	background-size 24px

.ar-loginbtn.ar-fblogin
	background-color #3B5978 
	background-image url(../img/facebook-white.svg)
.ar-loginbtn.ar-gologin
	background-color #DC4D28
	background-image url(../img/google.svg)
	opacity 0.5
	cursor normal

.ar-ldiv
	border-bottom 1px solid #dedede
	margin 20px auto

@media(min-width: 700px)
	.ar-info-wrapper
		border-radius brad-std 0px 0px brad-std
		-webkit-box-shadow 1px 0 5px -2px #999999
		box-shadow 1px 0 5px -2px #999999

	.ar-info-buttons
		border-left 0px
		border-radius 0px brad-std brad-std 0px
		height 100%
		width 60px
		position absolute
		right 0px
		top 0px

		div
			border-radius 0px
			height 50%
		div:first-child
			border-radius 0px brad-std 0px 0px
			border-bottom 1px solid main-color
		div:last-child
			border-radius 0px 0px brad-std 0px
@media(max-width: 699px)
	.ar-info-wrapper
		border-radius brad-std brad-std 0px 0px
		-webkit-box-shadow 1px 0 5px 0px #999999
		box-shadow 1px 0 5px -2px #999999		


//login
.login-block
	max-width 400px	
	margin 5% auto 0px auto
.cui-login:before
	font-family 'Flat-UI-Icons'
	content "\e009   "
#login_panel,
#user_panel,
#loading_panel
	background-color #fff
#login_panel,
#user_panel
	display none
.ar-adm .ar-panel
	z-index 0
.ar-panel.in 
	z-index 3


#loading_panel
	padding-top 100px
#loading_panel .loader
	width 80%
	height 100px
	margin-top 100px


.ar-panel.aractive,
#login_panel.ar-panel.aractive,
#user_panel.ar-panel.aractive
	z-index 3
	display block
	

.ar-advice
	position absolute
	width 300px
	background-color #F39C12
	color #FFFFFF
	padding 10px
	left 50%
	margin-left -150px
	text-align center
	border-radius 0px 0px 4px 4px
	-webkit-transition: margin .45s ease-out;
	   -moz-transition: margin .45s ease-out;
	    -ms-transition: margin .45s ease-out;
	     -o-transition: margin .45s ease-out;
	        transition: margin .45s ease-out;
	margin-top -60px

.form-group
	position relative
span.input-group-btn
	display block
	position absolute
	bottom 0px
	right 39px
.ar-advice.ar-in
	margin-top 0px
.ar-form
	max-width 600px
	margin 0 auto
	padding 24px 23px 20px
	background-color rgba(255,255,255,0.90)
.ar-form input,
.ar-form select,
.ar-form textarea
	background-color transparent
select
	width 100%
	border 2px solid #bdc3c7
	border-radius 6px
	padding 8px 12px
.ar-form-section label
	display block
	width 100%
	border-bottom 1px solid #999999
	font-size 1.1em	
	font-weight bold
.ar-sponsors
	width 100%
	min-height 120px
	padding-top 40px
	padding-bottom 40px
	overflow auto
.ar-sponsor
	height 90px

h1.ar-lg-ti
	display none

.login-form
	background-color transparent
.login-form .login-field
	border 1px solid #ccc
p h6
	text-align center

.ar-subcription input
	border 0px
	border-radius 0px
	text-align center
	-webkit-transition all .25s ease-out
	-moz-transition all .25s ease-out
	-ms-transition all .25s ease-out
	-o-transition all .25s ease-out
	transition all .25s ease-out
	background-color #fff	
.ar-subcription button
	border-radius  0px
	background-color main-color
	color #fff

p.ar-graphtitle
	text-align center
	border-bottom 1px solid #999
	width 90%
	margin 0 auto
	font-size 1.2em
.ar-donutchart
	max-width 200px
	max-height 200px
	margin 10px auto
	display block

.ar-txtc
	text-align center
	font-size 0.84em

form.ar-subcription
	max-width 500px
	input.listo
		height 0px
		padding 0px
	label.listo
		display none
	button.listo
		border-radius 6px
	button span 
		display none
	button.listo span 
		display block

.ar-top-info
	overflow auto

.ar-long-text-line
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
	font-size 0.7em
	color #999

.ar-travel-transport
	padding-top 5px
	width 390px
	float none
.ar-travel-title
	font-size 1.6em
	max-width 380px

.ar-short-title
	max-width 200px
	display inline-block
	font-size 1.1em

button.btn.btn-primary
	border-radius brad-btn-std
button.btn.btn-primary[disabled],
button.btn.btn-primary.disabled
	border bord-standard
	border-left 0px
	border-right 0px
	background-color transparent
	color #999999


#here
	overflow hidden
	height 0px

.ar-graph
	text-align center
.ar-graph canvas
	width 95%
	height 200px
	height 50vh
	margin 0 auto

.ar-hashtag
	text-align center
	font-size 2em
	margin-bottom 20px

.ar-loginbigblock .ar-logo
	width 200px
	height 150px

.ar-event-name-imp
	height 50px
	overflow visible
	width 90%
	position relative
.ar-event-name-imp .ar-thetitle
	padding 5px 15px
	width 100%
	white-space nowrap
	overflow hidden
	text-overflow ellipsis
	text-indent 20px
	font-size 1.3em
	border-radius 6px
	font-weight 400



.ar-therow.ar-wrap-200
	max-width 200px
	margin 0 auto
.ar-therow
	width 100%
	overflow auto
	.ar-theitem
		width 70%
		float left
		text-align left
		font-weight 600
	.ar-thecount
		width 29%
		height 30px
		float left
		text-align right
	.ar-thecount
		background-size 170%
		background-position right center
		background-repeat no-repeat
.ar-biggestbar
	background-image url(../img/biggerbar.svg)
.ar-middlebar
	background-image url(../img/midbar.svg)
.ar-smallbar
	background-image url(../img/smallbar.svg)


.ar-credits
	max-width 1200px
	margin 0 auto
	font-size 0.8em
	text-align right
	overflow auto
	min-height 40px
	div
		display block
	div.ar-left
		margin 0 10px
		float left
	div.ar-right
		float right
		margin-right 10px

.ar-sponsor a
	width 100%
	height 100%
	background-size contain
	background-repeat no-repeat
	background-position center center
	display block

.ar-codeando
	background-image url(../img/codeandomexico.svg)
.ar-ifai
	background-image url(../img/ifai.svg)
.ar-socialtic
	background-image url(../img/socialtic.svg)
.ar-imco
	background-image url(../img/imco.svg)

.navbar-toggle:hover:before, 
.navbar-toggle:focus:before
	background-color #fff


//everything
@media(max-height:640px)
	.ar-travel-panel-fancy-buttons
		top 50px
@media(min-width:1400px)
	.backbtn
		right 50px

@media(min-width:1000px) and (max-width:1400px)
	.ar-text-right
		margin-right 70px

//login
@media(min-width:1000px)
	.ar-loginbigblock
		max-width 600px
		margin 0 auto
		overflow auto
		.ar-logo
			float left
			margin-top 90px
		.login-block
			float right
			width 390px
@media(min-height:600px)
	.ar-loginbigblock
		margin-top 150px
		margin-top 10vh		

//travel panel
@media(min-width:726px) and (max-width:1200px)
	#travel_panel .ar-wrapper
		padding-left 20px
	#travel_panel .ar-name
		width 100%

@media(max-width:350px)
	.ar-hashtag
		font-size 1.2em
		font-size 10vw

@media(max-width:725px)
	ul.ar-options-list li .ar-name,
	ul.ar-travels 
		li div.ar-name
			width 100%
		li div.ar-from-to
			text-align left
			overflow auto
	ul.ar-options-list li
		.ar-name
			width 100%
			margin-left 32px
			margin-top -25px
			float none
		.ar-person-photo
			margin 0px
		.ar-date
			width 100%
			background-size 21px
		.ar-option-upper
			min-height 30px

//travel panel
@media(max-width:1000px)
	.col-xs-8.ar-text-right
		float right
	
	.ar-travel-panel-fancy-buttons
		width 100%
		position static
		padding 0px
		max-width 100%
		text-align center
	.ar-travel-panel-fancy-buttons
		.ar-fancy-button
			display inline-block


	#travel_panel,
	#traveller_panel
		.ar-name
			width 100%
		h6,h7
			text-indent 0px
		p
			text-indent 5px
			margin-left 10px
		.ar-travel-type
			margin-left 0px

@media(max-width:800px)
	#travel_panel .ar-travel-type
		margin-left 0px
		padding-left 0px
		width 30px
		height 30px
	#travel_panel .ar-date
		float left


//everything
@media(max-width:450px)
	h1,.h1
		font-size 2.0em
	.ar-modal-closebtn
		right 0px
		top 0px
		border-radius 0px 3px 0px 0px
		background-color #777
	.ar-hideon450
		display none
	.ar-fancy-button
		width 20%
	.ar-from-to span
		display none
	#welcome_panel
		ul.ar-travels
			padding 0px
		ul.ar-travels li div
			text-align left
		.ar-travel-cost
			width auto
			min-width 50px
		.ar-from-to span
			width 10px
		ul.ar-travels li
			padding 7px

	.ar-actions .ar-borderer span
		display none
	#travel_panel
		.ar-thetravelevent
			font-size 1.0em
		.ar-name
			font-size 0.8em
		.ar-date span.ar-frmto
			width 10px
		.ar-gdetails
			height auto
			margin-top 20px
		.ar-date
			float none		
	li.ar-info-item
		margin-left 0px	
		margin-right 0px	
	.ar-wrapper
		padding-left 3px
		padding-right 3px
		



@media(max-width:767px)
	.ar-badges p
		margin-top -10px
	#traveller_panel 
		.ar-info-wrapper
			margin-right 0px
		.ar-info-buttons
			display none

	#navigation_panel
		a.ar-navicon
			background-size 22px
			background-position 10px center
			text-indent 20px
			position relative
		.ar-navicon.ar-compareicon span
			text-indent 0
			position absolute
			left 2px
			top 2px
			margin 0px
	#travel_panel,
	#traveller_panel
		width 100%
		height 100%
		.ar-person
			padding-top 1px
			margin-top -1px
		.ar-thetravelevent
			text-align center
		.ar-sensitivetraveldata span
			text-align center
		.ar-person-photo
			margin 0 auto
			margin-top 20px
			float none
			display block
		.ar-the-hint
			margin-top 35px
		section.ar-vwrap.ar-theimportant-title
			margin-top 72px
		ul 
			padding 0px			
		.ar-similar-travel
			padding-left 10px
			padding-right 10px
			.ar-col
				padding 0px
				margin-bottom 30px
			.ar-col.ar-txtr
				text-align left
			.ar-btns
				padding 0px
		.btn-group
			width 100%
			.btn-primary
				width 50%
				border-bottom 0px
				border-left 0px
			.btn-primary:last-child
				//border-left 1px solid main-color
				border-right 0px
		

//fancy nav
.navbar,#navigation_panel.navbar
	background-color #444
	z-index 5
.navbar-nav>li>a
	color #fff

.ar-theimportant-title
	background-color #1abc9c
	color #fff

.ar-person-name
	color #777

#travel_panel
	section.ar-vwrap.ar-theimportant-title
		padding 30px 0px 0px 0px
		margin-bottom 0px
	.ar-thetraveltitle
		padding-left 30px
		padding-right 30px
		margin-bottom 20px

.ar-navicon
	standard-background()
	background-size 40%	
.ar-navicon.ar-searchicon
	background-image url(../img/search.svg)
.ar-navicon.ar-mapicon
	background-image url(../img/map.svg)
.ar-navicon.ar-compareicon
	background-image url(../img/compara-an.svg)
	background-position-y 40%
.ar-navicon.ar-compareicon
	span
		width 20px
		height 20px
		border-radius 50%
		background-color #ee763b
		font-size 10px
		color #fff
		text-align center
		display block
		vertical-align middle
		line-height 20px
		opacity 0.0
		-webkit-transition opacity .25s ease
		-moz-transition opacity .25s ease
		-ms-transition opacity .25s ease
		-o-transition opacity .25s ease
		transition opacity .25s ease
		position absolute
		top 20px
		right 20px
	span.in
		opacity 1.0


	

@media(min-width:768px)
	#navigation_panel
		.ar-navicon
			display block
			width 100%
			padding-top 75px
			text-align center
			background-position-x center
		.ar-comparelist-button a
			padding-top 20px
			padding-top 10px	
	#welcome_panel
		section.ar-vwrap.ar-lessmt
			margin-top 0px			
		section.ar-vwrap.ar-lesspt
			padding-top 10px
	.ar-panel
		background-color rgba(240,240,240,0.9);
		.ar-resplinks
			display none
		.backbtn
			top 0px
			right 0px
			position absolute
			height 42px
			width 42px
			border-radius 0px
			border-right 0px
			border-top 0px
			border-bottom 1px solid #ccc
			border-left 1px solid #ccc
		.ar-person-photo
			height 100px
			width 80px
			float left
			margin-right 0px
		.ar-person
			position relative
			min-height 100px
			.ar-person-name
				margin-left 80px				
			.ar-name,
			span
				text-align left
				text-indent 20px
			.ar-tac
				width auto
				position absolute
				right 20px
				top 20px
		.ar-tp-bger-shrinker
			width 950px
			margin 50px auto
			position relative
			box-shadow 0px 0px 5px rgba(90,90,90,0.3)
		.ar-wrapper
			padding-left 0px
			padding-right 0px
			padding-top 1px
			margin-top -1px
		.ar-vwrap
			padding-left 25px
			padding-right 25px
		.ar-thetravelevent
			font-size 1em
			p
				vertical-align middle
		li.ar-similar-travel button.btn.btn-primary
			padding-top 3px
			padding-bottom 3px
			padding-left 10px
			padding-right 10px
			border-bottom 0px

	.navbar,#navigation_panel.navbar
		width 90px
		position fixed
		height 100%
	.navbar .container, .navbar .container-fluid
		padding 0 3px
	.navbar .container, 
	.navbar .container-fluid
		.navbar-header
			width 100%
	.navbar-collapse#collpsnav
		padding 0px
	.navbar-nav>li>a
		padding-left 0px
		padding-right 0px
	ul.nav.navbar-nav
		li
			width 100%
			text-align center

	.navbar-collapse .navbar-nav.navbar-right:last-child
		margin 0px

	.nav.navbar-nav.navbar-right
		width 100%
	.ar-comparelist-button
		width 100%
	.navbar-brand
		padding 0px
		width 100%
		margin 0px
		margin-left 0px !important
		margin-top 15px
		display block
	#panel .ar-panel
		padding-left 90px


@media(max-width: 1050px)
	.ar-panel
		.ar-tp-bger-shrinker
			max-width 100%
			margin-top 0px
			margin-bottom 0px

	#welcome_panel
		background-color #ededed

@media(max-width:1200px)
	.ar-pd3
		width 100%


@media(min-width:490px) and (max-width:768px)
	.ar-actions .ar-borderer
		padding-top 150px

@media(max-width:630px)
	#travel_panel
		.ar-travel-title,
		.ar-text-right
			width 100%
			max-width 100%		
			float none
			width 100%
			text-align left
		.ar-travel-transport
			width 100%
			max-width 100%

@media (min-width: 992px)
	section.ar-vwrap.ar-traveller-stats
		border-top 0px


@import "compare_panel"
@import "newsearch"