main-color = #1abc9c

*::-webkit-scrollbar
	width 1px
	background-color white
*::-webkit-scrollbar-track-piece
	background-color #ededed
	border 0px
*::-webkit-scrollbar-thumb 
	background-color #777


*::-webkit-input-placeholder
	font-weight 300
*:-moz-placeholder
	font-weight 300
*::-moz-placeholder
	font-weight 300
*:-ms-input-placeholder
	font-weight 300


body,html
	height 100%
body
	padding-top 1px
	margin-top -1px
h1,h3
	text-align center
h3
	font-weight 300
#map
	position absolute
	top 0px
	left 0px
	width 100%
	height 100%
	// background-color #eee
	z-index 0
#panel
	position relative
	height 100%
	z-index 1
	background-color rgba(200,200,250,0.7)
	overflow-x hidden
#welcome_panel
	padding-top 1px
	margin-top -1px
	background-color rgba(250,200,200,0.7)
#search_panel
	z-index 3
	background-color rgba(250,250,250,0.95)

.ar-panel
	height 100%
	width 100%
	position absolute
	overflow-y scroll
	-webkit-transition margin .25s ease
	-moz-transition margin .25s ease
	-ms-transition margin .25s ease
	-o-transition margin .25s ease
	transition margin .25s ease

.ar-wrapper
	max-width 800px
	margin 0 auto
	padding 17px
.ar-wrapper.w8
	max-width 650px
	
.ar-welcome-options
	text-align center
.ar-welcome-options button
	display inline-block
	max-width 150px
.ar-welcome-options button.ar-explore
	margin-right 40px

ul.ar-travels
	list-style none
ul.ar-travels li
	display block
	min-height 100px
	text-align justify
	cursor pointer


ul.ar-travels li div
	display inline-block

.ar-travel-type
	width 40px
	height 30px
	margin-right 10px
	font-family 'Glyphicons Halflings'
	font-style normal
	font-weight 400
	background-size contain
	background-repeat no-repeat
	background-position center center
	opacity 0.5
.ar-transport-air
	background-image url(../img/plane.svg)
.ar-transport-land
	background-image url(../img/bus.svg)
.ar-transport-sea
	background-image url(../img/boat.svg)
.ar-travel-cost
	font-size 1.45em
.ar-currency
	font-size 12px
	color #999
	margin-left 7px
.ar-travel-cost
	min-width 150px
	text-align right
.ar-time
	margin-left 10px
	width 80px
.ar-star-err
	font-size 27px
	width 15px
.ar-name
	font-style italic
	font-size 1.2em
	color #777
	text-transform capitalize
.ar-from-to
	display block
	width 100%
	text-align center
	color #999
	font-size 0.7em

.ar-from-to span
	border-bottom 2px solid #999
	width 50px
	height 12px
	vertical-align top
	display inline-block

.ar-view
	background-color main-color
	border-radius 50%
	width 50px
	height 50px
	text-align center
	margin-right 10px
	margin-top 10px
	background-image url(../img/inspect.svg) 
	background-repeat no-repeat 
	background-position center center
	background-size 65%
	display block
	float right
	opacity 0
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;

ul.ar-travels li:hover .ar-view
	opacity 1

.ar-text-right
	text-align right

.ar-max500
	max-width 500px
	margin 0 auto

.btn-primary
	background-color transparent
	border 1px solid main-color
	color main-color

#welcome_panel.out
	margin-left 100%
#welcome_panel.almost
	margin-left 95%


#search_panel.out
	margin-left -100% 
#search_panel.in
	margin-left 0px



#travel_panel
	background-color #FFFFFF
	width 70%
	right 0px
#travel_panel .ar-travel-type
	width 70px
	height 70px
	margin-left 20px
#travel_panel .ar-travel-cost
	font-size 2.5em
	display inline-block
#travel_panel .ar-currency
	display inline-block
	font-size 1.5em 
	height 100%
	text-align left
	vertical-align 0px
#travel_panel .ar-from-to
	font-size 1em
#travel_panel .ar-from-to span
	height 18px
	width 35%
#travel_panel .ar-date
	font-size 1.1em
	text-align right
#travel_panel .ar-date span
	color #777
	font-size 0.8em
#travel_panel .ar-date span.ar-frmto
	border-bottom 1px solid #999
	width 100px
	display inline-block
#travel_panel .ar-person
	font-size 1.8em
	text-align center
	width 100%
	margin-top 20px
#travel_panel .ar-person span
	width 100%
	display block
	font-size 0.4em
	text-transform capitalize
#travel_panel h6, #travel_panel h7
	text-indent 50px
#travel_panel h7
	width 100%
	display block
	font-weight bold
	

#travel_panel .ar-name
	display inline-block
	vertical-align top
.ar-person-photo
	height 60px
	width 60px
	background-color #eee
	display inline-block
	border-radius 50%
	margin-right 20px
	background-image url(../img/user2.svg)
	background-repeat no-repeat
	background-position-x 49%
	background-position-y 13px
	background-size 105%

.ar-hotel,.ar-airline
	background-repeat no-repeat
	background-position left center
	background-size contain
	display block
	text-indent 40px

.ar-gdetails
	height 70px
	max-width 600px
	height 40px
	margin 0 auto
	margin-top 60px

.ar-hotel
	background-image url(../img/hotel.svg)
	width 250px
	float left
.ar-airline
	background-image url(../img/ticket.svg)
	width 200px
	float right
.ar-stuff-nobody-gives-a-fuck-about p
	max-width 650px
	margin 0 auto
	display block
	font-size 0.75em
.ar-stuff-nobody-gives-a-fuck-about p.ar-pbigger
	font-size 0.9em

#travel_panel .ar-stuff-maybe-someone-will-ever-read h6
	text-indent 0px
#travel_panel .ar-stuff-maybe-someone-will-ever-read
	margin-top 40px

#pdf
	background-image url(../img/pdf.svg)
#pdf:hover .ar-borderer
	border 1px solid #E41D24
#twitter
	background-image url(../img/twitter.svg)
#twitter:hover .ar-borderer
	border 1px solid #96CBE4
#facebook
	background-image url(../img/facebook.svg)
#facebook:hover .ar-borderer
	border 1px solid #3C5A98
#email
	background-image url(../img/email.svg)
#email:hover .ar-borderer
	border 1px solid #999999
.ar-clear
	clear both
a.ar-actions, a.ar-actions:hover
	color inherit
.ar-actions
	background-position center 10px
	background-repeat no-repeat
	background-size 20%
	display block
	margin-top 80px	
	text-align center
	cursor pointer
	font-size 0.9em

.ar-actions .ar-borderer
	padding-top 60px
	border 1px solid #fff
	border-radius 5px
	max-width 150px
	margin 0 auto
	height 100%

.ar-institution
	max-width 600px
	margin 0 auto

.ar-spacer
	height 35px
	width 100%
	clear both

.ar-search-bar
	max-width 400px
	margin 20px auto

input.ar-search
	background-color transparent
	border 1px solid #999999
	border-radius 27px
	text-indent 40px
	font-size 1.5em
	width 100%
	outline none
	background-image url(../img/search.svg)
	background-position 10px center
	background-repeat no-repeat
	background-size 5%
input.ar-search:focus
	border 1px solid main-color
	background-image url(../img/search2.svg)
	

.backbtn
	width 65px
	height 65px
	border 1px solid #999
	border-radius 50%
	background-image url(../img/arrow-right.svg)
	background-position center center
	background-repeat no-repeat
	background-size 40%
	position absolute
	top 20px
	right 50px
	cursor pointer

#debug.wtf
	position absolute
	z-index 9
	background #FF0000
	height 50px
	width 100%

.loader
	width 250px
	height 60px
	margin 0 auto

.loader svg
	fill main-color
	width 100%
	height 100%

ul.ar-autocomplete-list
	background-color rgba(250,250,250,0.7)
	display block
	max-width 350px
	margin 0 auto
	list-style none
	padding 0px
ul.ar-autocomplete-list li
	border-bottom 1px solid #DDDDDD
	padding-top 10px
	padding-bottom 10px
	display block
	text-indent 20px
ul.ar-autocomplete-list li.active
	background-color main-color
	color #ffffff
	cursor pointer

.fui-money
	content "$"
	font-weight bold

.ar-btn-wrapper
	text-align center
	display block
	width 100%
	height 50px
.btn-group .btn
	border-right 0px	
.btn-group .btn:last-child
	border-right 1px solid main-color

ul.ar-options-list
	max-width 500px
	margin 0 auto
	list-style none
	padding 0px

ul.ar-options-list .ar-money
	max-width 300px


ul.ar-options-list li
	display block
	min-height 90px
	text-align justify
	position: relative;
	cursor pointer
ul.ar-options-list li .ar-view
	position absolute
	right -90px
	top 10px
	width 40px
	height 40px
ul.ar-options-list li:hover .ar-view
	opacity 1.0
	

ul.ar-options-list li .ar-option-upper
	width 100%
	min-height 45px	
ul.ar-options-list li .ar-option-middler
	width 100%
	margin-bottom 20px

ul.ar-options-list li .ar-money
	font-size 1.5em
	float left
	max-height 45px
ul.ar-options-list li .ar-transport
	max-width 150px
	float right
ul.ar-options-list li .ar-person-photo
	height 25px
	width 25px
	background-position-x 49%
	background-position-y 4px
	background-size 105%
	float left
ul.ar-options-list li .ar-name
	float left
ul.ar-options-list li .ar-date
	float right
ul.ar-options-list li .ar-money span
	font-size 0.5em
	color #999999
	valign bottom

ul.ar-options-list li .ar-transport
	opacity 0.7
	text-indent 30px
	background-size 12%
	background-repeat no-repeat
	background-position left center
ul.ar-options-list li .ar-date
	opacity 0.7
	text-indent 30px
	background-size 12%
	background-repeat no-repeat
	background-position left center	
	background-image url(../img/calendar.svg)

//login
.login-block
	max-width 400px	
	margin 5% auto 0px auto
.cui-login:before
	font-family 'Flat-UI-Icons'
	content "\e009   "
